/* Setting the basic properties for type-based elements
*/

body {
    line-height: 1.4;
    overflow-wrap: break-word;
}

/* Paragraphs */
p {
    font-size: 1.2rem;
    margin:  0 0 0.2rem;
}

/* Anchors */
a {
    cursor: pointer;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.2rem;
}

/* Image alt text */
img {
    font-size: 0.55rem;
    word-break: normal;
}
