<!--
    templateType: page
    label: Page template
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {{ require_css(get_asset_url('../css/main.css')) }}

    {{ standard_header_includes }}
  </head>
  <body>
    
    {% global_partial path="./partials/header.html" %}

    <main>
      <p>some text</p>
    </main>

    {{ standard_footer_includes }}
  </body>
</html>
